*.a*
*.la*
*Testing
node_modules
*.o
*.a
xios_driver
*.db
.vscode
.DS_STORE
run_tests
venv
backend.log
build-osx-arm64.tar.gz
build-osx-arm64/
build-x86_64.tar.gz
build_x86_64/
proxy.log
build*
util/reverse-https-proxy
*log
test_server
*pyc
test/catch2
